/*---------FONTS---------*/
@font-face {
  font-family: 'Kenfolg';
  src: url('fonts/MADE Kenfolg PERSONAL USE.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Argesta';
  src: url('fonts/argestadisplay-regular-webfont.eot');
  src: url('fonts/argestadisplay-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/argestadisplay-regular-webfont.woff2') format('woff2'),
       url('fonts/argestadisplay-regular-webfont.woff') format('woff'),
       url('fonts/argestadisplay-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*---------VARIABLES---------*/
:root {
	--base: 1.07rem;
	--jumbo: 1.80225rem;
	--h1: 1.602rem;
	--h2: 1.424rem;
	--h3: 1.266rem;
  --h4: 1.125rem;
  --caption: 0.8em;
  --small: 0.889em;
  --white: #f2e9e4;
  --black: #22223b;
  --light-grey: #e2e2e2;
}


/*---------GLOBAL---------*/
body {
  margin: 0;
  font-family: 'Argesta', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h3 {
  font-family: 'Kenfolg', serif;
}

h1 {
  font-weight: 600;
}

h3 {
  font-weight: 400;
}

code {
  font-family: Consolas, monospace;
  font-size: 1rem;
}


/*---------HEADER---------*/
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./media/images/hero.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--white);
}

.hero-text a {
  color: var(--white);
  font-family: 'Argesta', serif;
}

.hero-text a:not(:hover) {
  text-decoration: none;
}

/*---------MAIN---------*/
.markdown a {
  color: var(--black);
}

.markdown a:hover {
  transition: color 0.15s;
  color: #1083cf;
}

.main {
  font-size: var(--base);
  line-height: 1.35;
}

.wrap {
  max-width: 650px;
}

.wrap-wide {
  max-width: 850px;
}

.wrap, .wrap-wide {
  margin: 0 auto;
}

.wrap-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
}

/*---------MAIN -> ABOUT---------*/
.about {
  padding: 0 1em;
  margin-top: 3em;
}

/*---------MAIN -> PORTFOLIO---------*/
.portfolio {
  margin-top: 2.5em;
  border-top: 1px solid var(--light-grey);
  background-color: white;
}

.shadow {
  border-radius: 3px;
  box-shadow: 0 1px 6px 0 black;
}

/*---------MAIN -> PORTFOLIO -> TABS---------*/
.tabs {
  background-color: white;
}

/*---------MAIN -> PORTFOLIO -> TAB PANELS---------*/
.tab-panels {
  padding: 0 1em;
}

/*---------MAIN -> PORTFOLIO -> TAB PANELS -> CELLS---------*/
.cell {
  margin-top: 2em;
}

.cell:not(:last-child) {
  padding-bottom: 1em;
  border-bottom: 1px solid var(--light-grey);
}

.publication {
  font-style: italic;
}

.info h3, .publication {
  margin: 0;
}

.info a {
  color: var(--black)
}

.info a:not(:hover) {
  text-decoration: none;
}
 
.info, .description {
  max-width: 650px;
}

.credits {
  margin-top: 1em;
}

.credits * {
  margin: 0;
}

.caption {
  text-align: center;
  font-size: var(--caption);
}

.caption code {
  font-size: var(--small);
}

/*---------FOOTER---------*/
.footer {
  margin-top: 3em;
  padding: 2em 1em;
  text-align: center;
  font-size: var(--small);
  background-color: var(--black);
  color: white;
}
